<div id="landing-homepage" style="height: 100%;">

  <div class="row" style="height: 100%;">

    <div class="container" style="height: 100%; padding: 0;">
      <div style="width: 100%; height: 95px;"></div><!-- add height behind navbar-->
      <div class="col-md-12 header" style="background-image: url('../images/LLTV_homepage_new.jpg')">
        <div class="quote-container">
          <p>Learn from experts.</p>
          <p>Anytime, anywhere</p>
          <div class="quote-subtitle">Expand your knowledge in every way possible.</div>
          <div class="quote-container-buttons">
            <ul>
              <li>
                <a>
                  <div class="quote-browse-btn bubble-btn pull-left">
                    Browse all courses
                  </div>
                </a>
              </li>
              <li>
                <div ng-controller="AuthModalCtrl">
                  <div class="pull-left bubble-btn create-account" ng-click="openModal('register')">
                      Create Account
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div><!-- end of row -->

  <div class="row" style="margin: 0;">
    <div class="col-sm-12 homepage-category-row">
      <div class="row" style="margin: 0;">
        <p>Popular videos</p>
        <a>See All</a>
      </div>
      <div class="col-sm-4 homepage-course-box">
        <div class="row" style="margin:0">
          <div class="course-img" style="background-image: url('../images/cabin.png')"></div>
          <div class="author-avatar" style="background-image: url('../images/1.jpg')"></div>
        </div>
        <div class="row" style="margin:0">
          <p class="homepage-course-title">learn to design on devices</p>
        </div>
        <div class="row homepage-course-last-row">
          <p>author's name</p>
          <p>11 minutes</p>
        </div>
      </div>

      <div class="col-sm-4 homepage-course-box">
        <div class="row" style="margin:0">
          <div class="course-img" style="background-image: url('../images/cake.png')"></div>
          <div class="author-avatar" style="background-image: url('../images/2.jpg')"></div>
        </div>
        <div class="row" style="margin:0">
          <p class="homepage-course-title">learn to design on devices</p>
        </div>
        <div class="row homepage-course-last-row" style="margin:0">
          <p>author's name</p>
          <p>11 minutes</p>
        </div>
      </div>

      <div class="col-sm-4 homepage-course-box">
        <div class="row" style="margin:0">
          <div class="course-img" style="background-image: url('../images/circus.png')"></div>
          <div class="author-avatar" style="background-image: url('../images/3.jpg')"></div>
        </div>
        <div class="row" style="margin:0">
          <p class="homepage-course-title">learn to design on devices</p>
        </div>
        <div class="row homepage-course-last-row" style="margin:0">
          <p>author's name</p>
          <p>11 minutes</p>
        </div>
      </div>

      <div class="col-sm-4 homepage-course-box" style="margin: 0;">
        <div class="row" style="margin:0">
          <div class="course-img" style="background-image: url('../images/game.png')"></div>
          <div class="author-avatar" style="background-image: url('../images/1.jpg')"></div>
        </div>
        <div class="row" style="margin:0">
          <p class="homepage-course-title">learn to design on devices</p>
        </div>
        <div class="row homepage-course-last-row" style="margin:0">
          <p>author's name</p>
          <p>11 minutes</p>
        </div>
      </div>

    </div>

  </div>


  <div class="row" style="display: none;">


    <!-- Tab panes -->
    <div class="tab-content container-fluid" id="details">
      <% @categories.each_with_index do |category, idx| %>
        <div role="tabpanel"
          class="tab-pane row <% if idx == 0 %>active<% end %>" id="<%= category.html_tab_id %>">

          <div class="col-md-6 category-img-container category-container">
            <div class="row">
              <img src="<%= image_path('LLTV_designimage.jpg') %>">
            </div>
          </div>
          <div class="col-md-6 category-details-container category-container">
            <div class="row">
              <div class="col-md-12 category-titles">
                <h3 style="color: <%= category.html_color %>">
                <%= category.title %> Training + Tutorials
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 category-details">
                <p><%= category.details %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="height: 50px;">

                <ul class="category-buttons" style="height: 100%;">

                  <li>
                    <a ui-sref="category.show({id: <%= category.id %>})">
                      <div class="bubble-btn pull-left" style="background-color: <%= category.html_color %>;">
                        Browse <%= category.title %> Tutorials
                      </div>
                    </a>

                  </li>
                    <!-- <a ui-sref="register"> -->

                  <li>
                    <div ng-controller="AuthModalCtrl">
                      <div class="pull-right bubble-btn create-account" ng-click="openModal('register')">
                          Create Account
                      </div>
                    </div>
                    <!-- </a> -->

                  </li>

                </ul><!-- end ul category-buttons -->


              </div><!-- end col-md-12 -->
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- end of container-fluid -->

  </div>

  <div class="collapse-test" ng-include="'footer/_footer.html'"></div>

  <!-- <li id="popup" style="display: none;">
    <div  style="background-color: white;">
      <p style="color: #000;">message</p>
    </div>
  </li> -->
</div>
<script>

  $("#category-button div").click(function() {
    if($(window).width() > 768){ //enable scroll if screen width is greater 768
      $('html, body').animate({
          scrollTop: $(".colored-bar").offset().top - 103
      }, 600, "easeOutCirc", function(){
        // console.log("scroll!");
      });
    }else{

    }
  });

  $('.collapse').on('show.bs.collapse', function () {
  //  $(".collapse-test").css({"position":"relative", "top":"330px"});
    $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
  });

  $(".collapse").on('hidden.bs.collapse', function () {
    // $(".collapse-test").css({"position":"relative", "top":"0"});
    $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");

  });

</script>
