<div id="landing-homepage" style="height: 100%;">

  <div class="row" style="height: 100%;">

    <div class="container" style="height: 100%; padding: 0;">
      <div class="col-md-12 header">

        <div class="quote-container">
          "Education is the kindling of a <br>
          flame, not the filling of a vessel." <br>
          <div align="right">– Socrates</div>

          <!-- <img src="<%= image_path('LLTV_overlay_text_1.png')%>" > -->
        </div>

        <div class="colored-bar" id="cat-bar">

          <ul class="nav nav-tabs homepage-category-nav" role="tablist">
            <% @categories.each_with_index do |category, idx| %>

            <li id="category-button" role="presentation"
                style="background-color: <%= category.html_tab_color %>"
                <% if idx == 0 %>class="active"<% end %>>

                <div href="#<%= category.html_tab_id %>" aria-controls="<%= category.html_tab_id %>" role="tab" data-toggle="tab"><p><%= category.title %><p></div></li>
            <% end %>
          </ul>

        </div>

      </div>

    </div>

  </div><!-- end of row -->


  <div class="row">


    <!-- Tab panes -->
    <div class="tab-content container-fluid" id="details">
      <% @categories.each_with_index do |category, idx| %>
        <div role="tabpanel"
          class="tab-pane row <% if idx == 0 %>active<% end %>" id="<%= category.html_tab_id %>">

          <div class="col-md-6 category-img-container category-container">
            <div class="row">
              <img src="<%= image_path('LLTV_designimage.jpg') %>">
            </div>
          </div>
          <div class="col-md-6 category-details-container category-container">
            <div class="row">
              <div class="col-md-12 category-titles">
                <h3 style="color: <%= category.html_color %>">
                <%= category.title %> Training + Tutorials
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 category-details">
                <p><%= category.details %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="height: 50px;">

                <ul class="category-buttons" style="height: 100%;">

                  <li>
                    <a ui-sref="category.show({id: <%= category.id %>})">
                      <div class="bubble-btn pull-left" style="background-color: <%= category.html_color %>;">
                        Browse <%= category.title %> Tutorials
                      </div>
                    </a>

                  </li>
                    <!-- <a ui-sref="register"> -->

                  <li>
                    <div ng-controller="AuthModalCtrl">
                      <div class="pull-right bubble-btn create-account" ng-click="openModal('register')">
                          Create Account
                      </div>
                    </div>
                    <!-- </a> -->

                  </li>

                </ul><!-- end ul category-buttons -->


              </div><!-- end col-md-12 -->
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- end of container-fluid -->

  </div>


  <footer class="homepage-footer">
    <div class="col-sm-8 col-sm-offset-2" style="padding: 0;">
     <div class="row" style="margin: 0;">
       <h5 style="margin: 66px 0 20px; 0">Questions? call 917-588-6261</h5>
     </div>

     <div class="footer-list">
       <div class="row footer-list-first-row">
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="aboutPage">about</a></div>
         <div class="col-sm-3" style="padding: 0;">help center</div>
         <div class="col-sm-3" style="padding: 0;">account</div>
         <div class="col-sm-3" style="padding: 0;">privacy policy</div>
       </div>

       <div class="row" style="margin: 0;">
         <div class="col-sm-3" style="padding: 0;">faq</div>
         <div class="col-sm-3" style="padding: 0;">careers</div>
         <div class="col-sm-3" style="padding: 0;">suggest a course</div>
         <div class="col-sm-3" style="padding: 0;">terms of use</div>
       </div>
     </div>

     <div class="row" style="margin: 0;">
       <p class="footer-copy-text">copyright &copy learning library tv llc. all rights reserved</p>
     </div>

   </div>
  </footer>
</div>
<script>

  $("#category-button div").click(function() {
    $('html, body').animate({
        scrollTop: $(".colored-bar").offset().top - 103
    }, 600, "easeOutCirc", function(){
      console.log("scroll!");
    });
  });

</script>
