<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <div class="row">
      <div>
        <h2>Create Course</h2>
      </div>
      <div>
        <%= form_for (@course)  do |f| %>
          <div class="form-group">
            <%= label_tag :title, "Course Title" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :banner_url, "Course Image" %>
            <%= f.file_field :banner_url, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :details, "Course Details" %>
            <%= f.text_area :details, size: "60x12",class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :position, "Course Position" %>
            <%= f.text_field :position, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- <%= link_to "Add a chapter", {}, class: 'btn btn-default edit-btn' %> -->
