<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <div class="row">
      <div>
        <h2>Create Course</h2>
      </div>
      <div>
        <%= form_for @course  do |f| %>
          <div class="form-group">
            <%= label_tag :title, "Course Title" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :image, "Course Image" %>
            <%= f.file_field :image, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :details, "Course Details" %>
            <%= f.text_area :details, size: "60x12",class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :position, "Course Position" %>
            <%= f.text_field :position, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Add Course", class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-xs-offset-1">
    <div>
      <h2>Courses</h2>
    </div>
    <div>
      <% @courses.each do |course| %>
        <div class="row">
          <div class="col-xs-4">
            <%= link_to course.title, course_chapters_path(course) %>
          </div>
          <div class="col-xs-8">
            <% if @is_publisher %>
              <%= form_for chapter, url: update_published_status_course_path(@course) , method: 'PUT' do |f| %>
                <%= label_tag :published, "Published" %>
                <%= f.check_box :published %>
                <div class="col-xs-8 pull-right">
                  <%= f.submit "Update Published Status", class: "form-control" %>
                </div>
              <% end %>
            <% else %>
              <% if course.published %>
                Published
              <% else %>
                Not Published
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>