<%= form_for (@video), url: :chapter_videos do |f| %>
	<div class="form-horizontal">

		<div class="form-group">
			<%= f.label :title, class: "col-sm-2 control-label"%>
			<div class="col-sm-6">
				<%= f.text_field :title, class: "form-control"%>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :video, class: "col-sm-2 control-label"%>
			<div class="col-sm-6">
				<%= f.file_field :video_url, class: "form-control"%>
				<br>
			    <%= video_tag(@video.video_url_url, controls: true, autobuffer: false) if @video.video_url? %>
			    <%= f.hidden_field :video_url_cache %>
			</div>
		</div>
		<br>
		<div class="form-group">
			<%= f.label :details, class: "col-sm-2 control-label"%>
			<div class="col-sm-6">
				<%= f.text_area :details, class: "form-control"%>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :transcript, class: "col-sm-2 control-label"%>
			<div class="col-sm-6">
				<%= f.text_field :transcript, class: "form-control"%>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :faqs, class: "col-sm-2 control-label"%>
			<div class="col-sm-6">
				<%= f.text_field :faqs, class: "form-control"%>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :position, class: "col-sm-2 control-label"%>
			<div class="col-sm-6">
				<%= f.number_field :position, class: "form-control"%>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-2 col-sm-offset-2">
				<%= f.submit 'Submit', class: "btn btn-primary" %>
			</div>
		</div>

	</div>
<% end %>
