<%= form_for (@video) do |f| %>

	<div class="field">
		<%= f.label :chapter_id %>
		<%= f.number_field :chapter_id %>
	</div>
	
	
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :video %>
		<%= f.file_field :video_url %>
	</div>
	<br>
	<div class="field">
		<%= f.label :details %>
		<%= f.text_area :details %>
	</div>

	<div class="field">
		<%= f.label :transcript %>
		<%= f.text_field :transcript %>
	</div>

	<div class="field">
		<%= f.label :faqs %>
		<%= f.text_field :faqs %>
	</div>

	<div class="field">
		<%= f.label :position %>
		<%= f.number_field :position %>
	</div>
<% end %>
  
