<%= form_for(@email_diget) do |f| %>
  <% if @email_diget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_diget.errors.count, "error") %> prohibited this email_diget from being saved:</h2>

      <ul>
      <% @email_diget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
