<!DOCTYPE html>
<html>
<head>
  <title>LLTV</title>
  <base href="/">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script data-require="lodash.js@*" data-semver="2.4.1" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%#= javascript_include_tag 'https://js.stripe.com/v2/', type: 'text/javascript' %>
  <%#= tag :meta, name: "stripe-key", content: ENV['STRIPE_PUBLISHABLE_KEY'] %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body id="lltv" ng-app="lltv" style="overflow-x: hidden;">
  <div ng-include="'nav/_nav.html'" ng-controller="NavCtrl"></div>
  <div class="content-container" ng-class="{'homepage-content-container': isActive('/')}" ng-controller="MainCtrl" style="position: absolute; height: 100%; width: 100%;">
    <ui-view autoscroll="true"><%=yield%></ui-view>
    <%= js_env %>
  </div>
</body>
</html>
